.project {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 7;
    background-color: #e1e1e1;
}

.card-title{
font-weight: 600;
font-size: 1.5rem;
padding:1rem;
}

.card{
    border: 0;
    box-shadow: 0 2px 4px #00000023;
}

.card_img{
    height: 23rem;
}
.card-text{
    font-size: 1.4rem;
    font-weight: 300;
    padding:1rem;
}
.project__title{
    font-weight: 300;
    font-size: 22px;
    height: 13vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.projects{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.seperators {
    flex-direction: row;
    display: flex;
    height: 100%;
    width: 100%;
    
}

.inline_seperator{
    flex: 1;
    display: flex;
    justify-content: center;
}
.project_card{
    background-color: #fff;
    width: 40rem;
    height: 50rem;
    margin: 3rem 6rem !important;
    display: flex;
    justify-content: center;
}

.dark-css .project_card{
    background-color: rgb(90, 90, 90);
    z-index: 3;
    box-shadow: 0 3px 5px #444444;
}

.linkLogo{
    height: 1.6rem;
    width: 1.6rem;
}
