.homeWrapper .about{
    padding: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-wrap: pretty;
    line-height: 30px;
    letter-spacing: 1.25px;
    max-height: 95%;
}

.about p{
    font-weight: 300;
    /* height: 90%;
    max-height:95%;
    text-overflow: ellipsis; */
}
.slider-container{
    width: 40%;
    position: relative;
    z-index: 100;
    top: 50;
}
.icon{
    height: 24px;
    width: 24px;
}

.timelineWrapper{
    text-align: center;
    font-weight: 200;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    transition: opacity 1s ease;
}

.pill{
    font-size: 1em;
    border-color: #323847 !important;
    color: #323847;
    cursor: pointer;
    letter-spacing: normal;
}

.pill:hover{
    font-weight: 500 !important;
    border-width: 1.5px !important;
}

.dark-css .pill {
    background-color: rgb(94, 94, 94) !important;
    border-color: white !important;
    color: white;
}

.homeContent {
    width: 100%;
    height: 100vh;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    transition: opacity .6s ease;
    scroll-behavior: smooth;
    font-size: 19px;
}

.memoji{
    height: 17rem;
    width: 17rem;
}

.highlight{
    color: rgb(19, 24, 101);
    font-weight: 600;
    
}

.MuiTimelineDot-root{
    background-color: white !important;
    border: 1px solid grey !important;
    padding: 7px !important;
}

.sliderIcon{
    height: 55px;
    width: 55px !important;
}

.sliderIconLarge{
    height: 45px;
    width: 45px;
}
.carousel_wrapper{
    height: 50%;
    width: 55%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.hidden {
    opacity: 0;
}

.css-lvko3p:nth-of-type(2n) .MuiTimelineContent-root,.css-1sohoek-MuiTimelineItem-root:nth-of-type(even) .MuiTimelineContent-root{
    display: inline-flex !important;
    justify-content: flex-end !important;
}