.homeWrapper .about{
    display: flex;
    flex-direction: column;
    text-wrap: pretty;
    line-height: 30px;
    letter-spacing: 1.25px;
    max-height: 95%;
    flex: 2;
    padding: 4rem;
}

.about p{
    font-weight: 300;
    /* height: 90%;
    max-height:95%;
    text-overflow: ellipsis; */
}
.slider-container{
    width: 40%;
    position: relative;
    z-index: 100;
    top: 50;
}
.icon{
    height: 24px;
    width: 24px;
}

.timelineWrapper{
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    z-index: 2;
}

.pill{
    font-size: .75em;
    border-color: #323847 !important;
    color: #323847;
    cursor: pointer;
    padding: 1rem 2rem;
    letter-spacing: normal;
}

.pill:hover{
    font-weight: 500 !important;
    border-width: 1.5px !important;
}

.dark-css .pill {
    background-color: rgb(94, 94, 94) !important;
    border-color: white !important;
    color: white;
}

.homeContent {
    z-index:1;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    scroll-behavior: smooth;
    text-wrap: pretty;
    font-size: 2rem;
    flex-wrap: wrap;
}

.memoji{
    height: 22rem;
    width: 22rem;
}

.highlight{
    color: rgb(19, 24, 101);
    font-weight: 600;
    
}

.MuiTimelineDot-root{
    background-color: white !important;
    border: 1px solid grey !important;
    padding: 7px !important;
}

.sliderIcon{
    height: 5.3rem;
    width: 5.3rem !important;
}

.sliderIconLarge{
    height: 4.5rem;
    width: 4.5rem;
}
.carousel_wrapper{
    height: 50%;
    width: 55%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.hidden {
    opacity: 0;
    transition: all .8s ease;
}

.position-relative {
    position: relative;
}

.css-lvko3p:nth-of-type(2n) .MuiTimelineContent-root,.css-1sohoek-MuiTimelineItem-root:nth-of-type(even) .MuiTimelineContent-root{
    display: inline-flex !important;
    justify-content: flex-end !important;
}

.h-60{
    height: 60%;
}

.name{
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 1.2em;
    color: #323847;
    font-family: 'Josefin Sans', sans-serif;
}

.dark-css .name{
    color: white;
}