nav{
    height: 100vh;
    width: 100%;
    background: white;
    background-size:cover;
}

nav a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 600;
}

a{
    text-decoration: none;
}
nav .navHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 300;
    font-size: 14px;
    padding: 26px;
    height: 2rem;
    background-color: rgba(33, 33, 33, 0.856);
    position: sticky;
    top: 0;
    z-index: 10;
}
#tsparticles{
    display: flex;
    position: absolute;
    z-index: 0;
    background-color: #ffffff00;
    height: 94%;
}

.navHeader .title{
    font-weight: 700;
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

nav ul li {
    padding: 5px 10px;
    border-radius: 5rem;
    cursor: pointer;
}

nav ul li:not(.search):hover{
    background-color: rgba(128, 128, 128, 0.459);
    font-weight: 600;
}

.tagLineWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: calc(100% - 3.2rem);
    width: 100%;
}

.profile_background{
    z-index: 2;
    height: 14rem;
    width: 14rem;
    border-radius: 15rem;
    background-color: rgba(185, 181, 181, 0.825);
    display: flex;
    justify-content: center;
    margin: 0 5rem;
}
.dark-css .profile_background{
    background-color: rgb(93 93 93 / 83%);;
}

.tagline{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 32%;
    height: 40%;
    margin-right: 2rem;
}
.tagLineWrapper h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 1rem;
}

.tagLineWrapper p {
    display: flex;
    text-wrap: pretty;
    font-weight: 400;
    font-size: 1.3em;
}

.tagLineWrapper .next {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 13px;
    border-radius: 5rem;
    padding: 3px 2px 3px 15px;
    border: 1.5px solid rgb(75, 75, 75);
    z-index: 2;
}


.linkToLearnMore{
    margin-left: 10px;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(79, 79, 79);
    cursor: pointer;
}

.linkToLearnMore:hover{
    background-color: rgb(139, 134, 123)
}