.footerWrapper{
    height: 25vh;
    background-color: rgb(62, 62, 62);
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
    font-size: 1.5rem !important;
}
.logo {
    height: 20px;
    width: 30px;
}

.socialLinksWrapper{
    margin-right: 4rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 300 !important;
    font-size: 1.5rem !important;
}

.links {
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.links span{ font-weight: 300 !important;
color: #fff;}

.links img {
    padding-right: 10px;
}

.copyrights{
    width: 100%;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 1.5rem !important;
}