.footerWrapper{
    height: 15vh;
    background-color: rgb(62, 62, 62);
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
    font-size: 1.5rem !important;
}
.logo {
    height: 3rem;
    width: 3rem;
}




.links span{ font-weight: 300 !important;
    font-size: 2rem;}

.links img {
    margin-right: 1.5rem;
}

.copyrights{
    width: 100%;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 1.5rem !important;
}