.paper{
    width: 70%;
    padding: 2rem;
    font-weight: 300;
    text-align: left;
    text-wrap: pretty;
    transition: all .5s ease !important;
    height: max-content  !important;
}
.timelineWrapper .MuiTypography-root{
    font-size: 1.4rem;
  }

.paper b{
    font-weight: 600 !important;
}
.paper b:first-child{
    color: rgb(74, 74, 130);
}
.dark-css .paper b:first-child{
    color:rgb(140, 192, 210);
}
.paper .company b{
    color: rgb(213, 153, 0) !important;
}

.paper.exp{
    cursor: pointer;
}
.paper.exp:hover{
    transform: scale(1.018);
}


.description{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    transition: all .5s ease;
}